.about {

    .about-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2 {
            color: var(--Grey-950);
            font-size: clamp(30px, 5vh, 150px);
            font-family: var(--Fraunces);
            font-weight: 900;
        }

        p {
            color: var(--Grey-550);
            font-size: 20px;
            font-weight: 600;
            line-height: 32px;
        }

        a {
            text-decoration: none;
            color: var(--Grey-950);
            font-family: var(--Fraunces);
            text-transform: uppercase;
            font-weight: 900;
            font-size: 18px;

            position: relative;
            display: inline-block;
        }

        .btn {

            position: relative;
            
            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                width: 110%;
                height: 10px;
                background-color: hsla(7, 99%, 70%, 0.5);
                margin-top: 6px;
                transition: width 0.3s ease;
                border-radius: 30px;
                z-index: -1;
            }

            &:hover::after {
                background-color: var(--Red-400);
                transition: 0.3s ease;
                width: 120%;
            }
        }

        .about-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            padding: 4rem 2rem;
        }

        .text1 {
            .btn {

                &::after {
                    background-color: hsla(51, 100%, 49%, 0.5);
                }

                &:hover::after  {
                    background-color: var(--Yellow-500);
                }               
            }
        }

        .transform-img {
            background-image: url('../images/mobile/image-transform.jpg');
        }

        .stand-out-img {
            background-image: url('../images/mobile/image-stand-out.jpg');
        }

        .transform-img,
        .stand-out-img {
            width: 100%;
            height: clamp(300px, 80vw, 500px);
            background-size: cover;
            background-position: center;
        }
    }
}

@media (min-width: 768px) {

    .about {
        .about-content {
            .about-description {

                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas:
                    "text1 img1"
                    "img2 text2";

                .img1 {
                    grid-area: img1;
                    background-image: url('../images/desktop/image-transform.jpg');
                }

                .text1 {
                    grid-area: text1;
                }

                .img2 {
                    grid-area: img2;
                    background-image: url('../images/desktop/image-stand-out.jpg');
                }

                .text2 {
                    grid-area: text2;
                }

                .transform-img,
                .stand-out-img {
                    height: 100%;
                    min-height: 800px;
                }

                .transform-img {
                    background-image: url('../images/desktop/image-transform.jpg');
                }

                .stand-out-img {
                    background-image: url('../images/desktop/image-stand-out.jpg');
                }

                .about-text {
                    padding: 20%;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }
}