.about  {
    width: 100%;
    height: 120dvh;

    img {
        width: 100%;
    }

    .about-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2 {
            color: var(--Grey-950);
            font-size: clamp(30px, 5vh, 150px);
            font-family: var(--Fraunces);
            font-weight: 900;
        }

        p {
            color: var(--Grey-550);
            font-size: 20px;
            font-weight: 600;
            line-height: 32px;
        }

        a {
            text-decoration: none;
            color: var(--Grey-950);
            font-family: var(--Fraunces);
            text-transform: uppercase;
            font-weight: 900;
            font-size: 18px;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 4rem 2rem;
        }
    }
}