.about {

    .about-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2 {
            color: var(--Grey-950);
            font-size: clamp(30px, 5vh, 150px);
            font-family: var(--Fraunces);
            font-weight: 900;
        }

        p {
            color: var(--Grey-550);
            font-size: 20px;
            font-weight: 600;
            line-height: 32px;
        }

        a {
            text-decoration: none;
            color: var(--Grey-950);
            font-family: var(--Fraunces);
            text-transform: uppercase;
            font-weight: 900;
            font-size: 18px;

            .btn-learn-more{
                
                display: block;
                width: 140px;
                height: 10px;
                background-color: red;
                bottom: 0;
                border-radius: 30px;
            }
        }

        .about-text {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 4rem 2rem;
        }

        .transform-img {
            width: 100%;
            height: clamp(600px, 100vh,800px);
            background-image: url('../images/mobile/image-transform.jpg');
            background-size: cover;
            background-position: center;
        }

        .stand-out-img {
            width: 100%;
            height: clamp(500px, 100vh, 800px);
            background-image: url('../images/mobile/image-stand-out.jpg');
            background-size: cover;
            background-position: center;
        }
    }
}

@media (min-width: 768px) {

    .about {

        .about-content {

            .about-description {
                
                text-align: left;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas:
                    "text1 img1"
                    "img2 text2";

                .img1 { grid-area: img1; background-image: url('../images/desktop/image-transform.jpg');}
                .text1 { grid-area: text1; }
                .img2 { grid-area: img2; background-image: url('../images/desktop/image-stand-out.jpg');}
                .text2 { grid-area: text2;}

                .transform-img {
                    background-image: url('../images/desktop/image-transform.jpg');
                }

                .stand-out-img {
                    background-image: url('../images/desktop/image-stand-out.jpg');
                }

                .about-text {
                    padding: 20%;
                }
                
            }

        }
    }
}