@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('../css/variables.css');

header {
    padding: 16px;
    font-family: var(--Barlow);

    background-image: url('../images/mobile/image-header.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 90vh;

    .logo {
        width: clamp(160px, 5vh, 500px);
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center; 


        .nav-links {
            color: var(--White);
        }

        ul {
            display: none;
            list-style: none;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            position: absolute;
            top: 100px;
            background-color: var(--White);            
            left: 0;
            padding: 1rem; 
            margin: 2rem 1.5rem; 
            z-index: 1000;    

            li {
                a {
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 500;
                    color: var(--Grey-550);
                }

                .btn-default {
                    font-family: var(--Fraunces);
                    text-transform: uppercase;
                    color: black;
                    font-size: 18px;
                    font-weight: 700;
                    border-radius: 32px;
                    padding: 18px 28px;
                    background-color: var(--Yellow-500);
                }
            }

            &.show {
                display: flex;
            }
        }
    }

    button {
        border: none;
        background: transparent;

        &:hover {
            cursor: pointer;
        }
    }

    .header-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;

        position: relative;
        top: clamp(40px, 24vh, 100px);

        h1 {
            font-size: 50px;
            font-weight: 900;
            font-family: var(--Fraunces);
            color: var(--White);
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 8px;
        }

        p {
            font-family: var(--Fraunces);
            color: var(--White);
            text-align: center;
        }

        img {
            width: clamp(30px, 5vh, 500px);
        }
    }
}

@media (min-width: 768px) {
    header {

        background-image: url('../images/desktop/image-header.jpg');

        .navbar {

            .btn-mobile {
                display: none;
            }
             
            ul {
                display: flex;
                flex-direction: row;
                position: static;
                background-color: transparent;

                li {

                    a {
                        color: var(--White);
                    }

                    .btn-default {
                        background-color: var(--White);
                    }
                }
            }
        }
    }   
}