.projects {
    padding: 5rem 2rem;

    h2 {
        font-family: var(--Fraunces);
        color: var(--Grey-400);
        font-size: 900;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-size: 18px;
    }

    .projects-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        .testimonials-container {
            display: flex;
            flex-direction: column;
            gap: 4.5rem;
        }

        .testimonials {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            img {
                border-radius: 50%;
                width: 80px;
            }

            p {
                text-align: center;
                font-size: 22px;
                font-weight: 600;
                color: var(--Grey-550);
                line-height: 28px;
            }            

            .testimonials-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                .testimonials-name {
                    font-family: var(--Fraunces);
                    font-weight: 900;
                    color: var(--Grey-950);
                }

                .testimonials-position {
                    color: var(--Grey-400);
                    font-weight: 600;
                    font-size: 18px;
                }
            }

        }
    }
}

@media (min-width: 768px) {
    
    .projects {

        width: 100%;
        height: 100vh;

        .projects-content {
            .testimonials-container {
                display: flex;
                flex-direction: row;
            }
        }
    }
}