@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@import url('css/variables.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    /* padding: 28px 8%; */
    padding: clamp(28px, 4vh, 8%);
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: var(--Barlow);

    .logo {
        width: clamp(160px, 5vh, 500px);
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center; 

        .nav-links {
            
        }

        ul {
            display: none;
            list-style: none;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            position: absolute;
            top: 100px;
            background-color: var(--White);            
            left: 0;
            padding: 1rem; 
            margin: 2rem 1.5rem;     

            li {
                a {
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 600;
                    color: var(--Grey-550);
                }

                .btn-default {
                    text-transform: uppercase;
                    color: black;
                    font-weight: 600;
                    border-radius: 32px;
                    padding: 26px;
                    background-color: var(--Yellow-500);
                }
            }

            &.show {
                display: flex;
            }
        }
    }

    button {
        border: none;
        background: transparent;

        &:hover {
            cursor: pointer;
        }
    }








    /* .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } */

    /* ul {
        display: none;
        list-style: none;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        width: 100vh;
        position: absolute;
        top: 80px;
        background-color: var(--Grey-00);
        left: 0;
        padding: 1rem;

        a {
            color: var(--Grey-550);
            text-decoration: none;
            font-weight: 600;
        }

        .btn-default {
            text-transform: uppercase;
            background-color: var(--Yellow-500);
            color: black;
            padding: 1.5rem;
            border-radius: 32px;
            font-family: var(--Fraunces);
            font-weight: 700;
        }


    } */

}


.home-section {
    height: 100vh;

    background-image: url('images/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: clamp(300px, 5vh, 500vh); */
    /* background-size: clamp(300px, 5vh, 500vh); */


    /* .home-content {
        h1 {
            color: var(--White);
            font-family: var(--Fraunces);
            font-size: clamp(50px, 5vh, 800px);
        }
    }    */
}