@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* ### Primary */

    --Red-400: hsl(7, 99%, 70%);
    --Yellow-500: hsl(51, 100%, 49%);
    --Green-800: hsl(167, 40%, 24%);
    --Blue-800: hsl(198, 62%, 26%);
    --Green-500: hsl(167, 34%, 41%);

    /* ### Neutral */

    --Grey-950: hsl(212, 27%, 19%);
    --Grey-00: hsl(213, 9%, 39%);
    --Grey-550: hsl(232, 10%, 55%);
    --Grey-400: hsl(210, 4%, 67%);
    --White: hsl(0, 100%, 100%);

    /* FONTS */

    --Fraunces: "Fraunces", serif;
    --Barlow: "Barlow", sans-serif;

    /* font-family: "Fraunces", serif;
    font-family: "Barlow", sans-serif; */
}

header {

    padding: 12px 4%;
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: var(--Barlow);

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        display: none;
        list-style: none;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        width: 100vh;
        position: absolute;
        top: 80px;
        background-color: var(--Grey-00);
        left: 0;
        padding: 1rem;

        a {
            color: var(--Grey-550);
            text-decoration: none;
            font-weight: 600;
        }

        .btn-default {
            text-transform: uppercase;
            background-color: var(--Yellow-500);
            color: black;
            padding: 1.5rem;
            border-radius: 32px;
            font-family: var(--Fraunces);
            font-weight: 700;
        }

        &.show {
            display: flex;
        }
    }

}
